*{
    margin: 0;
    padding: 0;
}

body {                
  background-color: var(--cor-escura);        
  color: var(--cor-clara);  
  font-family: var(--fonte-principal);
  min-height: 100vh;
  display: flex;  
  flex-direction: column;      
  justify-content: space-between;
  width: 100%;  
}

.container {  
  display: flex;     
  flex-direction: column;  
  gap:2vh;    
  flex-basis: 100%;
}

.container__nivel {          
  display: flex;   
  justify-content: center;   
  align-items: center;  
  flex-basis: 100%;
  background-color: var(--cor-clara);
}

.container__nivel__texto {       
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid var(--cor-destaque);
  color: var(--cor-destaque);
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 1%;
  margin:2%;
}

.container__pergunta {         
  display: flex;  
  align-items: center;
  justify-content: center;   
  flex-basis: 100%;

  margin: 4%;
  color: var(--cor-clara);
  font-size: 6rem;
}

.container__pergunta__index {
  display: flex;  
  align-items: center;
  justify-content: space-evenly;      
  flex-direction: column;
  flex-basis: 100%;

  color: var(--cor-clara);
  font-size: 3.5rem;  
  margin: 6% 4% 0% 4%;
  gap: 2vh;
}

.operador{
  color: var(--cor-destaque);
}

.container__resposta {      
  display: flex;
  align-items: center;
  justify-content: space-around;  
  flex-basis: 100%;

  margin: 6% 4% 0% 4%;
  color: var(--cor-clara);
  font-size: 3.5rem;
}

.countdown {
  color: var(--cor-destaque);
  font-size: 2rem;
}

.resposta {
  cursor: pointer;  
}

.invisivel {
  display: none;
}

.container__resultado {
  font-size: 2rem;

  display: flex;  
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  gap: 2vh;
  padding: 0% 2% 0% 2%;
  text-align: center;
}

footer {    
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-clara);
  position: fixed;
  bottom: 0;  
  width: -webkit-fill-available;
}

.container__footer {
  display: flex;
  flex-basis: 100%;
  margin: 2% 2%;
}

.container__timer {    
  display: flex;       
}

.container__timer__botao{
  background-color: transparent;
  border: 2px solid var(--cor-destaque);
  border-radius: 5px;
  color: var(--cor-destaque);
  text-decoration: none;
  text-align: center;
}

.easy {
  color: var(--cor-easy-clara);
  border: 2px solid var(--cor-easy-clara);
}

.normal {
  color: var(--cor-normal-clara);
  border: 2px solid var(--cor-normal-clara);
}

.hard {
  color: var(--cor-hard-clara);
  border: 2px solid var(--cor-hard-clara);
}

.expert {
  color: var(--cor-expert-clara);
  border: 2px solid var(--cor-expert-clara);
}

a {
  text-decoration: none;
  color: var(--cor-destaque);
}

@media (max-height: 580px) {  

  .container__pergunta__index {    
    margin: 0%;
    font-size: 2rem;      
  }

  .container__timer__botao{        
    margin:1%;
  }

  .container__nivel {      
    display:none;
  }
  
}
